<!DOCTYPE html>
<html>
<head>
    
    <!-- 
    <link rel="icon" type="image/png" href="img/favicon.ico">  
    -->
    
    
    <!-- PULL IN RELATIVE LINKS -->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://dl.dropbox.com/s/xomi9sya16korza/index.css">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional Theme
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    -->
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.1.2/parsley.min.js"></script>

    
    <!-- META DATA -->
    
    
    <title>Call Aunty</title>
</head>

    
<body>
    
<!-- OLD NAV BAR -->
    
    
<!--    
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Survey Results</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">
                        Index
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->
    

<!-- NEW NAV BAR -->    

    
<ul class="app-navbar">
    <li><a href="javascript:void(0)" onclick="openView('Overview')">Overview</a></li>
    <li><a href="javascript:void(0)" onclick="openView('Analytics')">Analytics</a></li>
    <li><a href="javascript:void(0)" onclick="openView('Today')">Today</a></li>
    <li><a href="javascript:void(0)" onclick="openView('Actions')">Actions</a></li>
    <li><a href="javascript:void(0)" onclick="openView('Notes')">Notes</a></li>
</ul>


<!-- SET UP DIVS -->  
    
    
<!-- OVERVIEW DIV -->  
<div id="Overview" class="app-view">
    <h2>Aisha's Overview</h2>
    
    <table>
        <tr><td>Phone</td><td>018-3431000</td></tr>
        <tr><td>Age</td><td>17</td></tr>
        <tr><td>Location</td><td>Kartikpur</td></tr>
        <tr><td>Heath</td><td>Good (6/10)</td></tr>
        <tr><td>Rish Level</td><td>Moderate</td></tr>
        <tr><td>Last Visit</td><td>22 days ago</td></tr>
    </table>
</div>

    
<!-- ANALYTICS DIV -->  
<div id="Analytics" class="app-view">
    <h2>Aisha's Analytics</h2>
    
    <p>Health status over the last 5 months </p>
    
    <img class="icon" src="https://dl.dropbox.com/s/7pyt2d3pps1vz5q/today.png" width="500">
    
    
    
    
    
</div>

    
<!-- TODAY DIV -->  
<div id="Today" class="app-view">
    <h2>Today View</h2>

    <img class="icon" src="https://dl.dropboxusercontent.com/s/d7pnxh8zr0ct0ad/actions.svg" width="50">
    
    <table class="today-table">
       <tr>
           <td>Preferred Name</td>
           <td>Aisha</td>
           {% for answer in questions.0.answers.all() %}

               <td>{{answer.content}}</td>
                   {% endfor %}    

       </tr>

       <tr>
           <td>Phone Number</td>
           <td>018-3431000</td>
           
           {% for answer in questions.1.answers.all() %}

               <td>{{answer.content}}</td>
                   {% endfor %}    

       </tr>

       <tr>
           <td>Risk Level</td>
           <td>Moderate</td>
           <td></td>
           
           {% for answer in questions.2.answers.all() %}

               <td>{{answer.content}}</td>
                   {% endfor %}    

       </tr>


   </table>
    
    
</div>

    
<!-- ACTIONS DIV -->  
<div id="Actions" class="app-view">
    <h2>Aisha's Actions</h2>
    <p>Here are specific recommendations.</p>
        <ul>
            <li>Reduce heavy lifting</li>
            <li>Reduce exposure to cooking smoke</li>
            <li>Visit clinic by Dec 15</li>
        </ul>
</div>

    
<!-- NOTES DIV -->  
<div id="Notes" class="app-view">
    <h2>Aisha's Notes</h2>
    
        <p>Recent Notes</p>
        <ul>
            <li>Having trouble reducing heavy lifting</li>
            <li>Needs to bring harvest to market and collect water daily</li>

        </ul>
    <br>
        <form>
            <input type="name" name="firstname" value="Add a note">
            <input type="submit" value="Add">
        </form>

</div>

    
<!-- RUN THE SCRIPT -->    

    
<script>
openView("Overview")
function openView(viewName) {
    var i;
    var x = document.getElementsByClassName("app-view");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    document.getElementById(viewName).style.display = "block";  
}
</script>
    

</body>
    
</html>


<!-- SPARE TABLE    
    <table>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
        <tr><td></td><td></td></tr>
    </table>
-->
